@model IEnumerable<Categories>

@{
    Layout="/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row mt-5">

        <div class="col">
            <div class="card mt-5">
                <div class="card-body">
                    <form asp-action="CreateNewCategories" method="POST">
                        <div class="row">
                            <div class="col">
                                <label class="form-lable">اسم الفئة</label>
                                <input type="text" name="Name" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-lable">وصف الفئة</label>
                                <input type="text" name="Description" class="form-control">
                            </div>


                                  <div class="row">
                            <div class="col">
                                <label class="form-lable">الأيقونة </label>
                                <input type="text" name="Icon" class="form-control">
                            </div>

                            <div class="col">
                                <label class="form-lable">الرابط</label>
                                <input type="text" name="Url" class="form-control">
                            </div>

                            <div class="row mt-5">
                                <div class="col text-center">
                                    <button type="submit" class="btn-hover color-1">حفظ</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>



    </div>

    <div class="row mt-5">

        <div class="col">

            <div class="card">
                <div class="card-body">
                    <table class="table text-center">
                        <thead>
                            <tt>
                                <td class=text-center>رقم الفئة</td>
                                <td class=text-center>وصف الفئة</td>
                                <td class=text-center>الايقونة</td>
                                <td class=text-center>الرابط</td>
                                @* <td class="text-center" colspan="2">الإجراء</td> *@
                
                            </tt>

                        </thead>

                        <tbody>
                            @foreach (var items in Model) {
                                <tr>
                                    <td>
                                    @items.Id 
                                    </td>
                                    <td>
                                    @items.Name  
                                    </td>
                                    <td>
                                    @items.Icon 
                                    </td>
                                    <td>
                                    @items.Url  
                                    </td>
                                </tr>
                            }
                        </tbody>
                    
                    </table>
                 </div>    
            </div>
        </div>
    </div>

</div>
